<div class="row mt-3">
    <div class="col-3">
        <h4 class="page-header">Sepetim</h4>
    </div>
</div>

<table class="table" *ngIf="cartList && cartList.length ; else cartEmptyAlertTemplate">
    <thead>
        <tr>
            <th>#</th>
            <th>ProductName</th>
            <th>Unit Price</th>
            <th>Quantity Per Unit</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Total KDV</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let cart of cartList;let i = index">
            <tr>
                <th scope="row">{{ (i + 1) }}</th>
                <td>{{ cart.product.productName | uppercase }}</td>
                <td>{{ cart.product.unitPrice | currency : '₺' }}</td>
                <td>{{ cart.product.quantityPerUnit }}</td>
                <td>{{ cart.count }}</td>
                <td>{{ getTotal(cart) }}</td>
                <td>{{ getTotalKdv(cart) }}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm"
                        (click)="removeFromCart(cart, _removeType.single)">
                        Sil
                    </button>
                    <button type="button" class="btn btn-warning btn-sm ms-3"
                        (click)="removeFromCart(cart, _removeType.multiple)">
                        Tümünü Sil
                    </button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>

<ng-template #cartEmptyAlertTemplate>
    <div class="alert alert-warning" role="alert">
        Sepetinizde ürün bulunmamaktır.
    </div>
</ng-template>